body {
  width: 300px;
  margin: 0;
  border-radius: 5px;
}

a {
  color: inherit;
}

.flex-header {
  background: #000000;
  display: flex;
  justify-content: center;
  padding: 20px 40px 20px;
  border-bottom: 1px dashed #d8dcdb;
}

.flex-header > * {
  margin: 0 4px;
}

.wf, .mu {
  height: 50px;
  width: auto;
}

.button {
  display: block;
  background-color: #000000;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 25px;
  position: relative;
  background-image: url(./images/pause.svg);
  overflow: hidden;
}

.button__accessibility-text {
  display: block;
  overflow: hidden;
  line-height: 0;
  text-indent: -99999px;
}

.button.paused {
  background-image: url(./images/play.svg)
}

.button.loading {
  background-image: none;
}

.loading-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.hidden {
  visibility: hidden;
}

.loading-animation__circle {
  fill: none;
  stroke: black;
  stroke-width: 4;
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
  animation: rotate 5s linear infinite;
}

.artist {
  cursor: pointer;
}

.show {
  margin-top: 1rem;
}

.now-playing {
  text-align: center;
  background: #444;
  color: #eee;
  line-height: 1.5;
  padding: 20px 40px;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}

.button[disabled] {
  cursor: default !important;
}